/* #region Global Styles */

* {
  box-sizing: border-box;
  transition: 0.5s ease;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 2vh;
  color: antiquewhite;
}

/* #endregion */

/* #region Header */

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: #313159;
  overflow: hidden;
}

#root {
  display: grid;
  grid-template-rows: 10vh 1fr;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

header {
  grid-area: 1/1/2/2;
  display: flex;
  width: 100vw;
  height: 10vh;
  background: #ff9100;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 8px double blue;
  z-index: 5;
}

header input.file-input {
  width: 350px;
  height: fit-content;
  background-color: black;
}

div.content {
  grid-area: 1/1/3/2;
  display: flex;
  align-self: start;
  justify-content: start;
  flex-grow: 1;
  width: 100vw;
  height: 100vh;
  transition: width 0.3s ease;
  overflow: hidden;
}

footer {}

/* #endregion */

/* #region ChatTree */

.chat-tree-container {
  flex-grow: 1;
  background-color: #1a1a1a;
  color: white;
  overflow: hidden;
  position: relative;
}

.chat-tree-container > div {
  width: 100% !important;
  height: 100% !important;
}

/* #endregion */

/* #region DetailsPane */

.details-pane {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 350px;
  right: -350px;
  background: #2a2a2a;
  padding: 20px;
  border-left: 1px solid #555;
  color: white;
  z-index: 5;
}

.details-pane.active {
  right: 0
}

.details-pane > div {
  flex-grow: 1;
  overflow: auto;
}

.message-content {
  margin-top: 10px;
  padding: 10px;
  background: #333;
  border-radius: 4px;
  white-space: break-spaces;
}

/* #endregion */
